<<<<<<< HEAD
<form method="post" action="/recipes">
=======
<form method="post" action="/recipes/new">
>>>>>>> 949d547e43215ab62ccf10c41a1885edc4e233aa
  <p><input type="text" id="name" name="name" value="Recipe Name"></p>
  <p><input type="text" id="ingredients" name="ingredients" value="Ingredients"></p>
  <p><input type="text" id="cook_time" name="cook_time" value="Cooking Time"></p>
  <input type="submit" id="submit">
</form>
